.authhome-wrapper {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}

.sidebar {
  background-color: #e64a19; /* orange foncé */
  color: white;
  width: 250px;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-section {
  margin-bottom: 2rem;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background-color: #3f51b5;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.user-name {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  text-align: left;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.menu-btn:hover {
  text-decoration: underline;
}

.bottom-link {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  color: #fff;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.nothing-img {
  width: 350px;
  opacity: 0.7;
}
