.authhome-wrapper {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}

.sidebar {
    background-color: #ec5b15;
    color: white;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}


.user-section {
  margin-bottom: 2rem;
  display: flex;
  gap: 10px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background-color: #3f51b5;
  border-radius: 50%;
}

.user-name {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-container {
  position: relative;
}

.dropdown-button {
  background-color: #ec5b15;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-button .arrow {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  right: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  width: 220px;
  z-index: 999;
  overflow: hidden;
  left: -3px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  font-weight: bold;
  background: white;
  border: none;
  color: #222;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f3f3f3;
}

.dropdown-item img {
  width: 20px;
  height: 20px;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-btn {
  background: none;
  border: none;
  height: 55px;
  color: #ec5b15; /* rend aussi les SVG orange */
  text-align: left;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 0.5rem;
  transition: background 0.2s ease;
}

.menu-btn .icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.menu-btn h1 {
  color: white;
  margin: 0;
}

.menu-btn:hover h1 {
  color: #ec5b15;
}

.menu-btn:hover {
  background-color: white;
  color: #ec5b15;
}

.menu-btn:hover .icon {
  color: #ec5b15;
}



.bottom-link {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  color: #ec5b15;
  transition: background 0.2s ease;
  padding: 0.5rem;
}

.bottom-link:hover {
  background-color: white;
  color: #ec5b15;
}

.bottom-link {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  color: #fff;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.nothing-img {
  width: 350px;
  opacity: 0.7;
}


.menu-btn.active {
  background-color: #fff;
  color: #ec5b15;
  font-weight: bold;
  padding: 0.5rem;
}

.menu-btn.active h1 {
  color: #ec5b15;
}

.menu-btn.active .icon {
  color: #ec5b15;
}

.menu-btn .icon {
  width: 18px;
  height: 18px;
  color: white;
}

.menu-btn:hover .icon {
  color: #ec5b15;
}


